<div class="container">
    <h3 class="d-flex justify-content-center">To-Do List Portal</h3>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navItems"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navItems">
            <div class="navbar-nav">
                <a class="nav-item nav-link" *ngIf="securityObject!.IsAuth && securityObject!.CanAccessToDoList" routerLink="/tasks">Open To Do List</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link text-right" *ngIf="!securityObject!.IsAuth"
                    routerLink="/login">Login</a>
                <a class="nav-item nav-link" *ngIf="securityObject!.IsAuth" href="#" (click)="logOut()">
                    Logout {{securityObject!.UserName}}
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="container body-content">
    <router-outlet></router-outlet>
</div>